:root {
  --bg-color: rgb(224, 224, 224);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}
